<div class="centered-small">
  <div class="ui-card-small">
    <h3 class="text-center">Sign in to your account</h3>

    <section>
      <%= form_for :session, url: sessions_path do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, class: "input-form" %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: "input-form" %>
        </div>

        <div class="form-group submit-split">
          <%= f.submit "Sign In" %>
          <%= link_to "Forgot Password?", reset_password_path %>
        </div>

        <p class="text-centered">
          <%= link_to "Don't have an account?", signup_path, class: "muted link-on-hover" %>
        </p>
      <% end %>
    </section>
  </div>
</div>
