<div class="centered-small">
  <div class="ui-card-small">
    <h3 class="text-center">Give us your email and we'll send you a new password</h3>

    <section>
      <%= form_for :reset, url: reset_password_path do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, class: "input-form" %>
          </div>

          <div class="form-group submit-split">
            <%= f.submit "Submit" %>
          </div>
        <% end %>
    </section>
  </div>
</div>
