.addon-switcher {
  height: 50px;
  border-bottom: 1px solid $border-color;

  .addon-types {
    display: flex;
    margin-left: 120px;
  }

  .addon-type {
    align-items: center;
    display: flex;
    height: 50px;
    margin-right: 32px;

    a {
      color: $gray;
    }

    &.active {
      border-bottom: 2px solid $red;
      height: 48px;
      margin-top: 2px;

      a {
        color: $red;
        font-weight: 500;
      }
    }
  }
}


.addon-store {
  border-top: none;
  color: $dark-gray;
  display: flex;
  flex-direction: column;
  font-family: "Source Code Pro";
  margin: 0 120px;
  max-width: 530px;

  .addon-store-header {
    border-bottom: 1px solid $border-color;
    margin: 16px 0;

    h1 {
      font-family: "Source Code Pro";
      font-weight: 700;
      margin-bottom: 0;
    }
  }

  h2,
  h3 {
    font-family: "Source Code Pro";
    font-size: 16px;
    font-weight: 600;
  }

  h2 {
    margin-bottom: 32px;
  }

  h3 {
    margin: 0 0 4px 0;
  }

  .addon {
    margin-bottom: 16px;
  }

  .install-instruction {
    margin-bottom: 16px;
  }
}
