<% content_for :navbar do %>
  <%= render "layouts/home_navbar" %>
<% end %>

<div class="grid">
  <div class="big-column">
    <%= form_for @user do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email %> 

      <div>
        <%= f.label :password %>
        <%= f.password_field :password %> 

        <%= f.label :password_confirmation, "Password Confirmation" %>
        <%= f.password_field :password_confirmation %> 

        <%= f.label :time_zone, "Time Zone" %>
        <%= f.select :time_zone, TimeZones.all %>
      </div>

      <aside>
        <%= f.submit "Update" %>
      </aside>
    <% end %>
  </div>
</div>
