<%= form_for @user, url: signup_path do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %> 

  <%= f.label :password %>
  <%= f.text_field :password %> 

  <%= f.label :password_confirmation, "Password Confirmation" %>
  <%= f.text_field :password_confirmation %> 

  <%= f.submit "Sign Up" %>
<% end %>
