// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 }

html {
  height: 100%;
}

body {
  background-color: $white;
  min-height: 100%;
  height: auto;
  margin: 0;
  width: 100%;
}
