$button-hover: #fafafa;
$button-focus: #eee;

.btn {
  background-color: $white;
  border: none;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  outline: none;
  margin: 0;
  padding: 6px 24px;

  &:hover {
    background-color: $button-hover;
  }

  &:focus {
    background-color: $button-focus;
    outline: none;
  }
}
