.form-group {
  margin: 16px 0;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  max-width: 100%;
  font-size: 90%;
}

// For inputs, use the input-form class
.input-form {
  background-color: $white;
  background-image: none;
  border: none;
  border-bottom: 1px solid $border-color;
  color: $dark-gray;
  display: block;
  font-size: $font-size-base;
  line-height: $line-height-base;
  padding: 0 0 4px 0;
  width: 100%;

  &:focus {
    border-color: $blue;
    outline: none;
  }

  &.errored { border-color: $red; }
  &.focused { border-color: $blue; }
}

// Submit Groups
.submit-split {
  @include clearfix();

  a {
    float: right;
  }
}
