@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }

  &:after {
    clear: both;
  }
}

.clearfix {
  @include clearfix();
}

// Places padding in between consecutive spans
@mixin spaced-out-spans {
  span {
    padding: 0 6px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
