<% content_for :navbar do %>
  <%= render "layouts/locker_navbar" %>
<% end %>

<div class="addon-switcher">
  <nav class="addon-types">
    <div class="addon-type active"><%= link_to "Apps", locker_addons_path(current_locker) %></div>
    <div class="addon-type"><%= link_to "Installed Apps", installed_locker_addons_path(current_locker) %></div>
    <div class="addon-type"><%= link_to "Color Schemes", "#" %></div>
    <div class="addon-type"><%= link_to "Pipes", "#" %></div>
  </nav>
</div>

<div class="addon-store">
  <header class="addon-store-header">
    <h1>Addon Store</h1>
    <p>Power up your locker by connecting to some of these services</p>
  </header>

  <h2>Project Management</h2>
  <% AddonsList.all.each do |addon| %>
    <% unless @addons.include?(addon[:name]) %>
      <article class="addon">
        <%= link_to new_locker_addon_path(current_locker, addon_name: addon[:name]) do %>
          <h3><%= addon[:name].capitalize %></h3>
        <% end %>
        <p class="description"><%= addon[:description] %></p>
      </article>
    <% end %>
  <% end %>
</div>
