<% content_for :navbar do %>
  <%= render "layouts/locker_navbar" %>
<% end %>

<div class="addon-switcher">
  <nav class="addon-types">
    <div class="addon-type"><%= link_to "Apps", locker_addons_path(current_locker) %></div>
    <div class="addon-type active"><%= link_to "Installed Apps", installed_locker_addons_path(current_locker) %></div>
    <div class="addon-type"><%= link_to "Color Schemes", "#" %></div>
    <div class="addon-type"><%= link_to "Pipes", "#" %></div>
  </nav>
</div>

<div class="addon-store">
  <header class="addon-store-header">
    <h1>Installed Addons</h1>
    <p>Manage your installed addons</p>
  </header>

  <% @addons.each do |addon| %>
    <article class="addon">
        <h3><%= addon.name.capitalize %></h3>
        <%= button_to "Uninstall", locker_addon_path(current_locker, addon), method: :delete %>
    </article>
  <% end %>
</div>
