<% content_for :navbar do %>
  <%= render "layouts/locker_navbar" %>
<% end %>

<div class="addon-switcher">
  <nav class="addon-types">
    <div class="addon-type active"><%= link_to "Apps", locker_addons_path(current_locker) %></div>
    <div class="addon-type"><%= link_to "Installed Apps", "#" %></div>
    <div class="addon-type"><%= link_to "Color Schemes", "#" %></div>
    <div class="addon-type"><%= link_to "Pipes", "#" %></div>
  </nav>
</div>

<div class="addon-store">
  <header class="addon-store-header">
    <h1>Github</h1>
  </header>

  <div class="install-instruction">
    <h3>Authorize DevLocker in Github</h3>
    <p>
      Follow the link below to give DevLocker OAuth access to your Github account. This will let us pull all of your repos, pull requests, branches, etc, so that you can see them all in DevLocker! Don't worry, you can revoke the access token at any time.
    </p>

    <%= link_to "Track your code on Github.", "/auth/github?locker_id=#{current_locker.id}" %>
  </div>
</div>
