<% content_for :navbar do %>
  <%= render "layouts/locker_navbar" %>
<% end %>

<div class="addon-switcher">
  <nav class="addon-types">
    <div class="addon-type active"><%= link_to "Apps", locker_addons_path(current_locker) %></div>
    <div class="addon-type"><%= link_to "Installed Apps", "#" %></div>
    <div class="addon-type"><%= link_to "Color Schemes", "#" %></div>
    <div class="addon-type"><%= link_to "Pipes", "#" %></div>
  </nav>
</div>

<div class="addon-store">
  <header class="addon-store-header">
    <h1>JIRA</h1>
  </header>

  <h2>Installation Instructions</h2>

  <div class="install-instruction">
    <h3>1. Provide JIRA Domain</h3>
    <p>
    This is the domain at which you log in to JIRA. It probably looks something
    like this: https://my_app.atlassian.net
    * Please note to use the https protocol when providing your JIRA domain
    </p>

    <%= form_for [current_locker, @addon] do |f| %>
      <%= f.hidden_field :name, value: "jira" %>

      <%= f.fields_for :metadata do |metadata_form| %>
        <%= metadata_form.label :domain %>
        <%= metadata_form.text_field :domain, class: "input-form" %>

        <h3>2. Provide JIRA Credentials</h3>
        <p>
        These are the crendentials you use to log in to JIRA. We don't store
        your password in any way (we don't want to be responsible for your crendentials),
        just make an initial request to JIRA for a session ID, which we can hopefully
        use for the rest of time to make requests on your behalf (and we need your username to query for your issues).
        </p>

        <%= metadata_form.label :username %>
        <%= metadata_form.text_field :username, class: "input-form" %>

        <%= metadata_form.label :password %>
        <%= metadata_form.password_field :password, class: "input-form" %>
      <% end %>

      <%= f.submit "Install", class: "btn" %>
    <% end %>
  </div>
</div>
