<% content_for :navbar do %>
  <%= render "layouts/locker_navbar" %>
<% end %>

<div class="addon-switcher">
  <nav class="addon-types">
    <div class="addon-type active"><%= link_to "Apps", locker_addons_path(current_locker) %></div>
    <div class="addon-type"><%= link_to "Installed Apps", "#" %></div>
    <div class="addon-type"><%= link_to "Color Schemes", "#" %></div>
    <div class="addon-type"><%= link_to "Pipes", "#" %></div>
  </nav>
</div>

<div class="addon-store">
  <header class="addon-store-header">
    <h1>Basecamp</h1>
  </header>

  <h2>Installation Instructions</h2>

  <div class="install-instruction">
    <h3>Authorize DevLocker in Basecamp</h3>
    <p>
      Follow the link to give DevLocker OAuth access to your Trello account so we can populate your Trello widget. Don't worry, you can revoke the access token at any time!
    </p>

    <%= link_to "Integrate with your Basecamp projects", new_locker_basecamp_oauth_path %>
  </div>
</div>
