<% content_for :navbar do %>
  <%= render "layouts/locker_navbar" %>
<% end %>

<div class="addon-switcher">
  <nav class="addon-types">
    <div class="addon-type active"><%= link_to "Apps", locker_addons_path(current_locker) %></div>
    <div class="addon-type"><%= link_to "Installed Apps", "#" %></div>
    <div class="addon-type"><%= link_to "Color Schemes", "#" %></div>
    <div class="addon-type"><%= link_to "Pipes", "#" %></div>
  </nav>
</div>

<div class="addon-store">
  <header class="addon-store-header">
    <h1>Trello</h1>
  </header>
  <h2>Installation Instructions</h2>

  <div class="install-instruction">
    <h3>1. Authorize DevLocker in Trello</h3>
    <p>
      Follow the link below to authorize DevLocker to access your Trello account.
      DevLocker will only ask for read-access.
    </p>
    <p>
    <%= link_to "Get Trello API Key",
      "https://trello.com/1/authorize?key=0d8d50b318a5bfdbf80d56ad597112c1&name=DevLocker&expiration=never&response_type=token",
      target: "_blank"
    %>
  </p>
  </div>

  <div class="install-instruction">
    <h3>2. Copy API Key</h3>
    <p>
      Once you have approved authorization, copy the API key and paste it in
      the form below.
    </p>

    <%= form_for [current_locker, @addon] do |f| %>
      <%= f.hidden_field :name, value: "trello" %>
      <div class="form-group">
        <%= f.label 'Api key' %>:
        <%= f.text_field :api_token, class: "input-form" %>
      </div>

      <div class="form-group">
        <%= f.submit "Install", class: "btn" %>
      </div>
    <% end %>
  </div>
</div>
