<% content_for :navbar do %>
  <%= render "layouts/locker_navbar" %>
<% end %>

<div class="addon-switcher">
  <nav class="addon-types">
    <div class="addon-type active"><%= link_to "Apps", locker_addons_path(current_locker) %></div>
    <div class="addon-type"><%= link_to "Installed Apps", "#" %></div>
    <div class="addon-type"><%= link_to "Color Schemes", "#" %></div>
    <div class="addon-type"><%= link_to "Pipes", "#" %></div>
  </nav>
</div>

<div class="addon-store">
  <header class="addon-store-header">
    <h1>Todo List</h1>
  </header>

  <div class="install-instruction">
    <p>To enable TodoLists simply press the install button below</p>
  </div>

  <%= form_for [current_locker, @addon] do |f| %>
      <%= f.hidden_field :name, value: "todos" %>
      <div class="form-group">
        <%= f.submit "Install", class: "btn" %>
      </div>
  <% end %>
</div>
