<% content_for :navbar do %>
  <%= render "layouts/locker_navbar" %>
<% end %>

<div class="addon-switcher">
  <nav class="addon-types">
    <div class="addon-type active"><%= link_to "Apps", locker_addons_path(current_locker) %></div>
    <div class="addon-type"><%= link_to "Installed Apps", "#" %></div>
    <div class="addon-type"><%= link_to "Color Schemes", "#" %></div>
    <div class="addon-type"><%= link_to "Pipes", "#" %></div>
  </nav>
</div>

<div class="addon-store">
  <header class="addon-store-header">
    <h1>Google Calendar</h1>
  </header>

  <div class="install-instruction">
    <h3>Authorize DevLocker in Google Calendar</h3>
    <p>
      Follow the link below to give DevLocker OAuth access to your Google Calendar. This will let us pull all of your events so that you can see them in DevLocker! Don't worry, you can revoke the access token at any time.
    </p>

    <%= link_to "Sign in with Google", "/auth/google?locker_id=#{current_locker.id}" %>
  </div>
</div>
