<% content_for :navbar do %>
  <%= render "layouts/home_navbar" %>
<% end %>

<h1>Lockers</h1>
<%= link_to "Create new Locker", new_locker_path %>

<div class="lockers">
  <%= render @lockers %>
</div>
