<% content_for :navbar do %>
  <%= render "layouts/home_navbar" %>
<% end %>

<%= form_for @locker do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "input-form" %>
  </div>

  <div class="form-group">
    <%= f.submit "Save" %>
  </div>
<% end %>
