<% content_for :navbar do %>
  <%= render "layouts/locker_navbar" %>
<% end %>

<div id="react"></div>

<script>
  var reactNode = document.getElementById("react");
  var ReactComponent = window.React.createFactory(window.Devlocker.Root);
  window.React.render(
    ReactComponent({
      enabledAddons: <%= raw(@enabled_addons.to_json.html_safe) %>
    }),
    reactNode
  );
</script>
