<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Password Reset</h1>
    <p>Your temporary password is: <%= @new_password %></p>
  </body>
</html>
