.hero {
  width: 100%;
  padding: 48px 40px;
  text-align: center;

  h1 {
    font-size: 350%;
    margin: 24px 0;
  }

  p {
    font-size: 125%;
    margin: 24px 0 12px 0;
    color: darken($sand-gray, 45%);
  }

  small {
    display: block;
    color: darken($sand-gray, 45%);
  }
}
