.todo-list {
  margin: 8px 0;
  position: relative;

  .todo-list-add {
    margin-top: 18px;

    input {
      border: none;
      border-bottom: 1px solid $border-color;
      border-top: 1px solid $border-color;
      font-size: 14px;
      outline: none;
      padding: 8px 0;
      width: 100%;
    }
  }

  input.edit-field {
    border: none;
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;
    flex: 1;
    min-height: 30px;
    outline: none;
  }

  section {
    margin: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;

    > li {
      display: flex;
      align-items: center;
    }

    .content {
      align-items: center;
      display: flex;
      min-height: 30px;
      padding: 4px;
      width: 100%;
    }

    .destroy {
      background-color: $white;
      border: none;
    }

    .toggle input {
      cursor: pointer;
      outline: none;
      margin-right: 8px;
      text-align: center;
      -webkit-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      width: 20px;

      &:after {
        content: "☐";
        font-size: 22px;
        line-height: 18px;
      }

      &:checked:after {
        content: "✔";
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  .completed {
    .content {
      text-decoration: line-through;
    }
  }
}


@each $theme, $colors in $color-scheme {
  .widget.#{$theme} {
    .todo-list-add {
      input {
        border-top: 1px solid map-get($colors, darker);
        border-bottom: 1px solid map-get($colors, darker);
        color: map-get($colors, darkest);
      }
    }

    input.edit-field {
      border-top: 1px solid map-get($colors, darker);
      border-bottom: 1px solid map-get($colors, darker);
      color: map-get($colors, darkest);
    }

    .destroy {
      background-color: map-get($colors, base);
    }

    .toggle input {
      &:after {
        color: map-get($colors, darker);
      }
    }

    .completed .content {
      color: map-get($colors, darker);
    }
  }
}
