.ui-card,
.ui-card-small {
  background-color: $white;
  border-radius: 2px;
  border: 1px solid $brown;
  flex-grow: 1;
  margin: 12px;
  max-width: 550px;
  padding: 24px;
  width: 550px;
}

.ui-card-small {
  flex-grow: 0;
  max-width: 350px;
  width: 350px;
}
