.widget {
  background-color: $white;
  border-radius: 2px;
  border: 1px solid $brown;
  font-family: $font-family--code;
  margin: 12px 0;
  padding: 24px;

  h1,
  h2,
  h3 {
    font-family: $font-family--code;
  }

  h1 {
    font-size: 22px;
    margin: 0;
  }

  header {
    align-items: baseline;
    display: flex;

    h1 { flex-grow: 1; }
  }

  section {
    margin: 12px 0;
  }

  footer {
    margin-top: 24px;
    text-align: right; 
  }

  .columns {
    display: flex;
    .left { flex: 0 260px; }
    .right { flex: 1 0; }
  }


  @each $theme, $colors in $color-scheme {
    &.#{$theme} {
      border: 1px solid map-get($colors, border);
      background-color: map-get($colors, base);
      color: map-get($colors, darkest);

      h1 {
        color: $black;
      }

      a {
        color: map-get($colors, darkest);
      }

      input {
        background-color: map-get($colors, base);
        color: map-get($colors, darkest);
      }

      ::-webkit-input-placeholder {
        color: map-get($colors, darkest);
      }
    }
  }
}

.grid-list {
  display: flex;
  flex-wrap: wrap;

  .grid-item {
    flex: 0 30.333%;
    background-color: $sand-gray;
    border: 1px solid darken($sand-gray, 25%);
    border-radius: 8px;
    margin: 12px 1.5%;
    padding: 4px;
    text-align: center;

    .addon-logo {
      max-height: 40px;
      max-width: 175px;
    }
  }
}
