<footer class="main-footer">
  <ul>
    <p>DevLocker</p>
    <li><%= link_to "Source Code", "https://github.com/devlocker/devlocker" %></li>
    <li><%= link_to "Install", "#" %></li>
    <li><%= link_to "Mobile", "#" %></li>
    <li><%= link_to "Tour", "#" %></li>
  </ul>
  <ul>
    <p>About Us</p>
    <li><%= link_to "Blog", "http://devlocker.github.io" %></li>
    <li><%= link_to "Team", "http://devlocker.github.io" %></li>
    <li><%= link_to "News", "http://devlocker.github.io" %></li>
    <li><%= link_to "Jobs", "http://devlocker.github.io" %></li>
  </ul>
  <ul>
    <p>Support</p>
    <li><%= link_to "Help", "https://github.com/devlocker/devlocker" %></li>
    <li><%= link_to "Documentation", "https://github.com/devlocker/devlocker" %></li>
    <li><%= link_to "Talk to a Person", "#" %></li>
    <li><%= link_to "Privacy", "#" %></li>
  </ul>
  <ul>
    <p>Community</p>
    <li><%= link_to "Github", "https://github.com/orgs/devlocker/teams/owners" %></li>
    <li><%= link_to "Twitter", "#" %></li>
    <li><%= link_to "Developers", "https://github.com/orgs/devlocker/teams/owners" %></li>
  </ul>
</footer>
