<head>
  <title>DevLocker</title>
  <link href="//fonts.googleapis.com/css?family=Fira+Sans:400,500,700,400italic" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Source+Code+Pro:400,600,700" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
