<nav class="navbar navbar-brand">
  <div class="branding">
    <%= link_to "DevLocker", lockers_path, class: "important" %>
  </div>
  <div class="arrow-right"></div>

  <div class="right">
    <span class="info"><%= long_time %></span>
    <%= link_to current_user.name, edit_user_path(current_user) %>
    <%= link_to "Signout", signout_path %>
  </div>
</nav>
