<nav class="navbar">
  <div class="branding">
    <%= link_to "DevLocker", lockers_path, class: "important" %>
    <span>/</span>
    <%= link_to current_locker.name, locker_path(current_locker), class: "sub" %>
  </div>
  <div class="arrow-right"></div>

  <div class="right">
    <span class="info"><%= long_time %></span>
    <%= link_to "App Store", locker_addons_path(current_locker), class: "app-store" %>
    <%= link_to current_user.name, edit_user_path(current_user) %>
    <%= link_to "Signout", signout_path %>
  </div>
</nav>
