<!DOCTYPE html>
<html>
  <%= render "layouts/header" %>
  <body>
    <nav class="navbar">
      <div class="branding">
        <%= link_to "DevLocker", "#", class: "important" %>
        <span>/</span>
        <%= link_to "Sign Up", "#", class: "sub" %>
      </div>
      <div class="arrow-right"></div>

      <div class="right">
      </div>
    </nav>

    <div class="container" id="sign_up"></div>
    <script>
      var signUpNode = document.getElementById("sign_up");
      var SignUpComponent = window.React.createFactory(window.Devlocker.SignUpTerminal.Terminal);
      window.React.render(
        SignUpComponent(),
        signUpNode
      );
    </script>

  </body>
  <%= render "layouts/footer" %>
</html>
