<!DOCTYPE html>
<html>
  <%= render "layouts/header" %>
  <body>
      <%= yield :navbar %>

    <div class="container">
      <%= yield %>
    </div>

  </body>
  <%= javascript_include_tag "application" %>
  <%= render "layouts/footer" %>
</html>
