<!DOCTYPE html>
<html>
  <%= render "layouts/header" %>
  <body>
    <%= yield :navbar %>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>

    <div class="locker">
      <%= yield %>
    </div>

  </body>
</html>
